@keyframes AcenderBorda {
  0% {}

  100% {
    box-shadow: 10px 10px 50px rgb(255, 255, 255);
    transform: scale(1.05)
  }
}

@keyframes ApagarBorda {
  0% {
    box-shadow: 10px 10px 50px rgb(255, 255, 255);
    transform: scale(1.05)
  }

  100% {
    box-shadow: 0px;
    transform: scale(1.0)
  }
}

.mt-50 {
  margin-top: 50px !important;
}

#root {
  width: 100%;
  margin: 0 auto;
  text-align: center;
  padding: 0px 12px 0px 12px
}

.content {
  max-width: 100%;
  margin: auto;
  /* border: solid 1px white; */
}

.hr-sect {
  display: flex;
  align-items: end;
  text-align: center;
  color: rgba(255, 255, 255, 0.651);
  margin: 8px 10px;
}

.hr-sect::after {
  content: "";
  flex-grow: 1;
  background: rgba(255, 255, 255, 0.35);
  height: 3px;
  margin: 0px 8px;
}

.info-section {
  color: rgb(255, 255, 255);
  border: solid, 2px, rgb(255, 255, 255);
  border-bottom: solid;
  border-top: solid;
  border-radius: 15px;
  padding: 1%;
  padding-left: 3%;
  padding-right: 3%;

  max-width: 100%;
  width: 70%;
  margin: auto;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  & span {
    margin-left: 2%;
  }

  & a {
    color: white;
    font-weight: bold;
  }

  & h1 {
    font-size: 80%
  }

  & div {
    font-size: 90%;
  }
}

.info-content {
  display: flex;
  flex-direction: row;
  padding-right: 5%;
  width: 100%;

  & img {
    width: 40%;
    height: 40%;
    /* margin: auto; */
    /* max-width: 45%; */
    border-radius: 10px;
    /* margin-left: 1.3vw; */
  }
}

.texto-secao {
  margin-top: 15px;
  padding-left: 1.5vw;
  padding-right: 1vw;
  text-align: left;
}

.titulo-secao {
  text-align: start;
  font-weight: bold;
  font-size: 100%;

  margin-left: 20px;
}

.subtitulo-secao {
  text-align: start;
  font-size: 100%;

  margin-left: 20px;
  margin-bottom: 15px;
}

.text-content {
  margin: auto;
}

@media (min-width: 1000px) {
  #root {
    width: 100%;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
  }

  .content {
    max-width: 60%;
    margin: auto;
    /* border: solid 1px white; */
    margin-top: 50px;
  }

  .info-content {
    display: flex;
    flex-direction: row;
    width: 50%;
  }

  .info-section:hover {
    animation-name: AcenderBorda;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .info-section:not(:hover) {
    animation-name: ApagarBorda;
    animation-duration: 1s;
    animation-fill-mode: forwards;
  }

  .text-content {
    & h1 {
      font-size: 100%;
    }

    & info {
      font-size: 100%;
    }
  }

  .info {
    display: flex;
    flex-direction: row;
    align-items: baseline;
  }

  .hr-sect {
    display: flex;
    align-items: end;
    text-align: center;
    color: rgba(255, 255, 255, 0.651);
    margin: 8px 10px;
  }

  .w-5 {
    margin: 5px;
  }
}

@media (max-width: 999px) {

  .text-content h1,
  .text-content .info {
    font-size: 100%;
  }

  .image {
    max-width: 100%;
    margin-right: auto;
    display: flex;
    flex-direction: row;
    justify-content: space-around;

    & img {
      border-radius: 10px;
      max-height: 80%;
      margin: auto;
    }
  }

  .info-content {
    padding: 0px;
    max-width: 50%;
  }
}

/* mto pequeno (Samsung galaxy s8+) 360x740 */
@media (max-width: 400px) {
  .content {
    width: 100%;
    margin-top: 10px;
  }

  .hr-sect::before {
    content: "";
    flex-grow: 1;
    background: rgba(255, 255, 255, 0.35);
    height: 3px;
    margin: 0px 8px;
  }

  .texto-secao {
    margin-top: 10%;
    padding-left: 5vw;
    padding-right: 5vw;
    text-align: left;
    font-size: 80%;
  }

  .info-section img {
    width: 70%;
  }
}

@media (max-width: 800px) {
  .info-section {
    width: 100%;
  }
}